BEGIN:VCALENDAR
###HEADER###
METHOD:PUBLISH
PRODID:-//Typo3 CMS\, Sallingstadt Veranstaltungen
###CALNAME###
X-WR-CALNAME;VALUE=TEXT:###CALENDAR_NAME###
###CALNAME###
VERSION:2.0
###HEADER###
###ELEMENT###
BEGIN:VEVENT
SEQUENCE:###SEQUENCE###
DTSTART:###START_DATE###
DTEND:###END_DATE###
DTSTAMP:###CREATED_DATE###
SUMMARY:###TITLE###
LOCATION:###LOCATION###
DESCRIPTION:###BLURB###
UID:###UID###
###ORGANIZER###
ORGANIZER;CN="###ORGANIZER_NAME###":mailto:###ORGANIZER_EMAIL###
ATTENDEE;ROLE=OWNER;STATUS=CONFIRMED:###ORGANIZER_NAME### <###ORGANIZER_EMAIL###>
###ORGANIZER###
URL;VALUE=URI:###EVENT_URL###
END:VEVENT
###ELEMENT###
END:VCALENDAR